.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #ff731d;
  }
  
  .subtitle {
    font-size: 18px;
    font-weight: normal;
    color: #7f8487;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    min-width: 600px;
  }
  
  .formGroup label {
    font-size: 18px;
    font-weight: bold;
    color: #7f8487;
  }
  
  .formGroup input {
    color: #7f8487;
    border: 1px solid #7f8487;
    font-size: 18px;
  }
  
  .formGroup button {
    border: none;
    border-radius: 4px;
    background-color: #ff731d;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .formGroup button:hover {
    background-color: #fa6a10;
  }
  
  .formGroup button:disabled {
    background-color: #7f8487;
  }
  
  .ratingContainer {
    display: flex;
    align-items: center;
  }
  
  .ratingContainer label {
    padding-top: 6px;
  }
  
  @media (max-width: 768px) {
    .container {
      margin: 32px 0;
    }
    .title {
      font-size: 24px;
    }
    .subtitle {
      font-size: 16px;
    }
    .form {
      gap: 16px;
    }
    .formGroup {
      min-width: 90%;
    }
    .formGroup label {
      font-size: 16px;
    }
    .formGroup input {
      font-size: 16px;
    }
    .formGroup button {
      font-size: 16px;
    }
  }